@import './variables'

button(bgColor)
  color #fff
  opacity 1
  transition all ease-in-out 0.5s
  background-color bgColor
  border-color bgColor
  
  &:hover
    color #fff
    background-color bgColor
    border-color bgColor
    opacity 0.8

.button.button-delete
  button(dangerColor)

.button.button-primary
  button(mainColor)
  
