@import '../libs/md-colors'
  
input[type="email"]:focus
input[type="time"]:focus
input[type="number"]:focus
input[type="search"]:focus
input[type="text"]:focus
input[type="tel"]:focus
input[type="url"]:focus
input[type="password"]:focus
textarea:focus
select:focus
  border 1px solid md-indigo-500
  outline 0

input
textarea
select
  transition border ease-in-out 0.3s

input[type="time"]
  height 38px
  padding 6px 10px
  background-color #fff
  border 1px solid #D1D1D1
  border-radius 4px
  box-sizing border-box

fieldError()
  border 1px solid lighten(md-red-500, 10%)
  box-shadow 0 0 2px md-red-500

form
  .field-error
    fieldError()
    &:focus
      fieldError()
