@import '../libs/md-colors'

html
body
#app
  height 100%
  font-family 'roboto_condensedregular'
  
  & > .container
    z-index 1
    position relative
    min-height 100%


html
body
  font-family 'roboto_condensedregular'
  background #fff

a
  cursor pointer
  text-decoration none
  color #000
  &:hover
    color #3f51b5

.page-title
  font-size 26px

.columns.four
  &:nth-child(3n+1)
    margin-left 0
