@import '../z-core/variables'
@import '../z-core/mixins'

.project-list

  &__item
    border 1px solid lighten(#000, 80%)
    margin-top 10px
    margin-bottom 10px
    padding 10px
    height 200px
    overflow hidden
    display inline-block
    transition border ease-in-out 0.2s
    cursor pointer
    
    &:hover
      border-color mainColor
      color inherit
    
    &-name
      font-size 20px
      margin 5px 0

  &__buttons
    border-top 1px solid lighten(mainColor, 50%)
    buttons-padding()
