@import '../z-core/variables'
@import '../z-core/mixins'

.calendar-table
  thead
    th
      padding 0
      border none
      text-align center
      &:last-child
        padding 0
    tr
      border-bottom 1px solid mainColor 

  &__week
    border none
    padding 0
    margin 0
  
  &__date
    padding 5px 10px
    text-align center
    border-bottom none
    opacity 0.5
    &:last-child
    &:first-child
      padding 5px 10px    
    &.date
      opacity 1
      cursor pointer
      transition background ease-in-out 0.2s
      &:hover
        background lighten(mainColor, 50%)
    &.selected
      background lighten(mainColor, 20%)

calendar-button()
  position absolute
  width 16px
  height 16px
  display block
  top 12px
  
  
  &::after
    left 0
    top 0
    position absolute
    content ''
    border 8px solid transparent
    cursor pointer
    opacity 0.6
    transition ease-in-out opacity 0.2s

  &:hover
    &::after
      opacity 1

.calendar-title
  font-size 16px
  width 240px
  padding 5px 0
  text-align center
  position relative
  &__next
    right 0
    calendar-button()
    &::after
      border-left 15px solid #000
  &__prev
    left 0
    calendar-button()
    &::after
      border-right 15px solid #000

  &__year
    margin-left 10px
    font-size 18px
