@import '../z-core/variables'
@import '../z-core/mixins'

info-title()
  margin 5px 0
  font-size 20px
  
.task__buttons
  buttons-padding()
  
  .button-delete
    margin-left 10px

.task-tasks 
  &__title
    info-title()
  
  &__item
    margin 5px 0

.task-form
  &__title
    info-title()
