@import '../z-core/variables'
@import '../z-core/mixins'

.task-list
  
  &-table
    width 100%
    
  th
    &:nth-child(4)
      min-width 80px

  &__buttons
    border-top 1px solid lighten(mainColor, 50%)
    buttons-padding()

  &-filter
    &-item
      cursor pointer
      padding 0 0 0 10px
      opacity 0.8
      transition opacity ease-in-out 0.2s
      
      &:hover
        opacity 1
      &.active
        opacity 1
        color mainColor
