@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
