.loading-wrapper
  width 0
  height 0
  position absolute
  top 0
  left 0
  z-index 0
  width 100%
  height 100%
  background #fff
  opacity 0
  transition all linear 0.2s
  
  &.loading
    z-index 2
    opacity 0.8
  
  .loading-img
    background url('../img/loading.gif')
    position absolute
    width 256px
    height 256px
    margin -128px -128px 0 0
    top 50%
    right 50%

.app-content
  position relative
  z-index 1
