@import '../libs/md-colors'

.top-menu
  display block
  width 100%
  height 6.5rem
  background #fff
  z-index 99
  border-top 1px solid #eee
  border-bottom 1px solid #eee
  margin-bottom 20px
  font-weight 600

  &__item
    text-transform uppercase
    font-size 11px
    letter-spacing 0.2rem
    margin-right 35px
    text-decoration none
    line-height 6.5rem
    transition all ease-in-out 0.2s
    color #222
    
    &:hover
      cursor pointer
      color md-indigo-400
    
    &.active
      color lighten(md-indigo-400, 30%)
